.portfolio {
  background-color: #f5f5f5;
  padding: 4rem 0;
  color: #263037;
  font-family: 'Gotham A', 'Gotham B', sans-serif;
}

.portfolio-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #263037;
}

/*  layout for all */
.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem auto;
  width: 85%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

/* reversing sides for each project */
.project.reverse {
  flex-direction: row-reverse;
}

.project-text {
  flex: 1;
  padding: 3rem;
}

.project-text h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.project-text h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.project-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.project-btn {
  background-color: #263037;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}


.project-image {
  flex: 1;
}

.project-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/*Individual project colors and text */
.project1 {
  background-color: #C8C8C3; 
  color: white;
}

.project1 .project-btn {
  background-color: #f5f5f5;
  color: #333;
}
.project1 .project-btn:hover {
  background-color: #9ac39c; 
}


.project2 {
  background-color: #E5E5EB; 
  color: #333;
}

.project2 .project-btn {
  background-color: #f5f5f5;
  color: #333
}

.project2 .project-btn:hover {
  background-color: #ff0000; 
}

.project3 {
  background-color: white
  color:#333 
}

.project3 .project-btn {
  background-color: white;
  color: #333
}

.project3 .project-btn:hover {
  background-color: #33ffff; 
}


/* layout for smaller screens */
@media (max-width: 768px) {
  .project,
  .project.reverse {
    flex-direction: column;
  }

  .project-text {
    text-align: center;
    padding: 2rem;
  }
}
